<a href="https://colab.research.google.com/github/RashikaTyagi01/Rashika-UCS420/blob/main/cognitiveAssignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1. Create a List L that is defined as**= [10, 20, 30, 40, 50, 60, 70, 80].
i. WAP to add 200 and 300 to L.
ii. WAP to remove 10 and 30 from L.
iii. WAP to sort L in ascending order.
iv. WAP to sort L in descending order.

In [ ]:
L=[10,20,30,40,50,60,70,80]
#add 200 and 300
L.append(200)
L.append(300)
print(L)

#remove 10 and 30
L.remove(10)
L.remove(30)
print(L)

#sort in ascending order
L.sort()
print(L)

#sort in descending order
L.sort(reverse=True)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

**Q2. Create a tuple of marks scored as scores** = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
i. Identify the highest score and its index in the tuple.
ii. Find the lowest score and count how many times it appears.
iii. Reverse the tuple and return it as a list.
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.

In [1]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
#highest score and its index
highestScore = max(scores)
print(highestScore,"and index of the highest score is ",scores.index(highestScore))

#lowest score and how many times it appears
lowestScore = min(scores)
print("lowest score: ",lowestScore)
count=0
for i in scores:
  if(i==lowestScore):
    count+=1
print("count of the lowest score:",count)

#reverse tuple and return as a list
scores_list = list(scores)
scores_list.reverse()
print(scores_list)
print()

#check if 76 present
n=int(input("enter a score: "))
if(n in scores):
  print("present in tuple at index ",scores.index(n))
else:
  print("not present in tuple")

92 and index of the highest score is  5
lowest score:  45
count of the lowest score: 2
[45, 58, 92, 89, 45.4, 76, 89.5, 45]

enter a score: 76
present in tuple at index  2

Q3. WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:
i. All odd numbers
ii. All even numbers
iii. All prime numbers

In [ ]:
import random
import math
mylist=[]
for i in range(0,100):
  mylist.append(random.randint(100,900))

oddNumbers=0;
for i in range(0,100):
  if(mylist[i]%2!=0):
    oddNumbers+=1
    print(mylist[i],end=" ")
print("\nnumber of odd numbers: ",oddNumbers)
print('\n')

evenNumbers=0
for i in range(0,100):
  if(mylist[i]%2==0):
    evenNumbers+=1
    print(mylist[i],end=" ")
print("\nnumber of even numbers: ",evenNumbers)
print('\n')

def isPrime(number):
  if(number<2):
    return False
  for i in range(2,int(math.sqrt(number))+1):
    if(number%i==0):
      return False
  return True


primes=0
for number in mylist:
  if isPrime(number):
    primes+=1
    print(number,end=" ")
print("\nThe number of prime numbers: ",primes)

611 399 799 887 233 541 519 223 219 483 175 445 409 833 775 411 855 771 517 775 361 205 121 323 329 889 169 427 425 785 235 795 639 865 869 769 323 179 781 869 581 405 227 241 305
number of odd numbers:  45


514 820 730 382 562 458 866 732 434 278 158 892 850 222 856 900 144 604 564 130 604 818 794 528 838 484 214 242 804 562 812 582 192 646 658 266 318 386 462 538 224 732 190 122 106 806 242 250 146 822 352 464 900 894 898
number of even numbers:  55


887 233 541 223 409 769 179 227 241
The number of prime numbers:  9

Q4. Consider the following two sets, A and B, representing scores of two teams in multiple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operations using set functions:
i. Find the unique scores achieved by both teams (union of sets).
ii. Identify the scores that are common to both teams (intersection of sets).
iii. Find the scores that are exclusive to each team (symmetric difference).
iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.
v. Remove a specific score X (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [ ]:
A = set([34, 56, 78, 90])
B = set([78, 45, 90, 23])
#union of sets
print(A.union(B))

#common scores(intersection)
print(A.intersection(B))

#scores exclusive to both teams(symmetric difference)
print(A.symmetric_difference(B))

#check for subset and superset
print(A.issubset(B))
print(B.issuperset(A))

#remove X from
X=int(input("enter a score: "))
if X in A:
  A.remove(X)
  print(A)
else:
  print("This score is not present")

{34, 45, 78, 23, 56, 90}
{90, 78}
{34, 45, 23, 56}
False
False
enter a score: 78
{56, 34, 90}

Q5. Write a program to rename a key city to a location in the following dictionary.

In [ ]:
sample_dict = {"name":"Kelly" , "age" : 25 , "salary":8000 , "city" : "New york"}
sample_dict["location"] = "New york"
del sample_dict["city"]
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}